h3 {
    text-align: center;
    margin: 0;
}

table {
    border: 2px groove black;
    margin: 0 auto;
    
}

th, td {
    border: 1px solid black;
    text-align: center;
}

#flags {
    width: 60px;
    
}